.dropdown-filter{
  
    padding-left: 1rem;
    
    margin-right:7rem;
    display:flex;
  }
  
  .dropdown-filter{
    @media screen and (max-width:812px) {
      padding-left:10rem;
  }
  @media screen and (max-width:812px) {
    padding-left:5rem;
  }
  @media screen and (max-width:658px) {
    padding-left:9rem;
  
  }
  @media (max-width:1098px) {
        /* paddding-top:8rem; */
  }
  
  }
  
  
  .dropdown-filter > div {
    position: relative; 
    margin-right: 20px;
    margin-bottom: 15px; 
  }
  
  /* .dropdowns > div > .MuiPopover-paper {
    position: absolute;
    top: calc(100% + 8px); 
    left: 0;
  } */
  
  .MuiButton-root {
    padding: 6px 16px;
  }
  
  .custom-menu {
    position: absolute;
    
    left: 0;
  }
  
  .buttonLoad{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    padding: 20px;
  }
  
  .button1{
         border: 2px solid blue;
         width:175px;
         height:40px;
         
         color:white;
         font-size:20px;
         background-color: blue;
         cursor: pointer;
         
  }
  
  .button1{
    @media screen and (max-width:700px) {
      margin-left:10rem;
  }
  @media screen and (max-width:580px) {
    margin-left:3rem;;
  }
  @media screen and (max-width:410px) {
    margin-left:1rem;;
  }
  
  }
  
  .drop{
    padding-top:30px;
    margin-left:10rem;
    margin-right:10rem
  }
  .list_search{
       border: 1px solid grey;
       width:19rem;
       height:2rem;
       position:absolute;
       top: 168px;
       margin-left:7px;
       border-radius: 5px;
       
  
  }
  .loading{
    align-items: center;
    justify-content: center;
    /* margin-left:60px; */
    margin-right: 0rem;
    margin-top: 230px;
    height:70vh;
  }
  
  .input{
    width:250px
  }
  .hello{
    cursor:pointer;
  }